
<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
  <div class="logo">register</div>
  <!-- Main Form -->
  <div class="login-form-1">
    <%= form_for @user, id: "register-form", class: "text-left" do |f| %>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <%= f.label :name, for: 'reg_username', class: "sr-only"%>
            <%= f.text_field :name, for: 'reg_username',id: "reg_username", class: "form-control", placeholder: "username"%>
          </div>
          <div class="form-group">
            <%= f.label :password, for: 'reg_password', class: "sr-only"%>
            <div class="password">
              <%= f.password_field :password, for: 'reg_password',id: "reg_password", class: "form-control", placeholder: "password"%>
              <span class="glyphicon glyphicon-eye-open"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
            <div class="password_confirm">
              <input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">
              <span class="glyphicon glyphicon-eye-open"></span>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, for: 'reg_email', class: "sr-only"%>
            <%= f.text_field :email, for: 'reg_email',id: "reg_email", class: "form-control", placeholder: "email"%>
          </div>
          
          <div class="form-group login-group-checkbox">
            <%= f.radio_button :gender,"male", id: 'male'%>
            <label for="male">male</label>

            <%= f.radio_button :gender, "female", id: 'female'%>
            <label for="female">female</label>
          </div>
          
          <div class="form-group login-group-checkbox">
            <input type="checkbox" class="" id="reg_agree" name="reg_agree">
            <label for="reg_agree">i agree with <a href="#">terms</a></label>
          </div>
        </div>
        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="etc-login-form">
        <p>already have an account? <%= link_to("login here", new_sessions_path) %></p>
      </div>
    <% end %>
  </div>
  <!-- end:Main Form -->
</div>
