<% if current_user.present? %>
  <div class="container-fluild bootstrap snippet">
      <div class="tile tile-alt" id="messages-main">
          <div class="ms-menu">
            <%= render 'home/current_user' %>
            <%= render 'home/compose' %>
            <div class="list-group lg-alt">
              <%= render 'home/friends', friends: @users %>
            </div>
          </div>
          
          <div class="ms-body">
            <%= render 'home/topbar' %>
            <div id="messages-body %>">
              <%= render 'conversations/messages', conversation: @conversation %>
            </div>
            <div id="messages-form">
              <%= render 'messages/form', conversation: @conversation %>
            </div>
          </div>
      </div>
  </div>
<% end %>